<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GID_REVERSED_CLIENT_ID)</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>offrii</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Offrii Deep Link</string>
		</dict>
	</array>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Offrii utilise l'appareil photo pour prendre une photo de profil ou une image pour vos envies.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Offrii utilise votre bibliothèque photo pour sélectionner une photo de profil ou une image pour vos envies.</string>
	<key>NSContactsUsageDescription</key>
	<string>Offrii utilise vos contacts pour vous aider à inviter vos proches dans vos cercles.</string>
</dict>
</plist>
