<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>202098498067-2u5uv8magektgh8ualmdo413naqnftem.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.202098498067-2u5uv8magektgh8ualmdo413naqnftem</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>offrii</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Offrii Deep Link</string>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Offrii utilise l'appareil photo pour prendre des photos de vos envies.</string>
	<key>NSContactsUsageDescription</key>
	<string>Offrii utilise vos contacts pour vous aider à inviter vos proches.</string>
</dict>
</plist>
